<a href="https://colab.research.google.com/github/DAYSIMAOSS/melhorescompras/blob/main/petshop_sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando as bibliotecas
import pandas as pd
import os
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_1samp

In [ ]:
pip install --upgrade tabulate

Requirement already satisfied: tabulate in ./opt/anaconda3/lib/python3.9/site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

# Lista de caminhos dos arquivos CSV
caminhos_arquivos = [
    '/Users/day/Desktop/Trabalho_grupo/vendas_linha_petshop_2019.csv',
    '/Users/day/Desktop/Trabalho_grupo/vendas_linha_petshop_2020.csv',
    '/Users/day/Desktop/Trabalho_grupo/vendas_linha_petshop_2021.csv',
    '/Users/day/Desktop/Trabalho_grupo/vendas_linha_petshop_2022.csv'
]

In [ ]:
# Ler os arquivos CSV e armazenar em uma lista de DataFrames usando delimitador ';' e codificação 'ISO-8859-1'
dfs = []
for caminho in caminhos_arquivos:
    df = pd.read_csv(caminho, delimiter=';', encoding='ISO-8859-1')
    dfs.append(df)

# Combinar todos os DataFrames em um único DataFrame
data = pd.concat(dfs, ignore_index=True)

In [ ]:
data

,cod_pedido,regiao_pais,produto,valor,quantidade,valor_total_bruto,data,estado,formapagto,centro_distribuicao,responsavelpedido,valor_comissao,lucro_liquido,categoriaprod
0,1,Norte,Biscoito True Champion 300g,22,2.0,44,13/06/2019,Acre,Dinheiro,Rapid Pink,Carlos,"0,44","17,6",Alimentação
1,2,Norte,Biscoito True Champion 300g,21,2.0,42,03/01/2019,Amapá,Pix,Rapid Pink,Maria Linda,"0,42","16,8",Alimentação
2,3,Norte,Biscoito True Champion 300g,22,NaN,44,18/01/2019,Pará,Boleto Bancário,Rapid Pink,Julia,"0,88","35,2",Alimentação
3,4,Norte,Biscoito True Champion 300g,19,4.0,88,19/08/2019,Rondônia,Boleto Bancário,Rapid Pink,Yuri,"0,76","30,4",Alimentação
4,5,Norte,Biscoito True Champion 300g,22,2.0,44,18/10/2019,Tocantins,Cartão Crédito,Rapid Pink,Dolores,"0,44","17,6",Alimentação
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200781,200976,Sudeste,Bandana Disney Mickey Fábrica Petti,"19,44",3.0,"58,32",07/02/2022,Rio de Janeiro,Cartão Débito,Papa Léguas,Antonio,"0,42","14,7",Acessório
200782,200977,Sudeste,Bandana Disney Mickey Fábrica Petti,"21,06",1.0,"21,06",06/02/2022,Espírito Santo,Cartão Débito,Papa Léguas,Tereza,"0,26","9,1",Acessório
200783,200978,Sul,Bandana Disney Mickey Fábrica Petti,"14,58",3.0,"43,74",25/01/2022,Paraná,Cartão Crédito,Tree True,Beatriz,"0,48","16,8",Acessório
200784,200979,Sul,Bandana Disney Mickey Fábrica Petti,"16,2",2.0,"32,4",27/03/2022,Santa Catarina,Pix,Tree True,Vitória,"0,52","18,2",Acessório
200785,200980,Sul,Bandana Disney Mickey Fábrica Petti,"14,58",1.0,"14,58",02/04/2022,Rio Grande do Sul,Cartão Débito,Tree True,Vivian,"0,2",7,Acessório

In [ ]:
#Total de linhas e colunas.
data.shape

(200786, 14)

In [ ]:
# Exibir o número de colunas e os nomes das colunas no DataFrame
num_colunas = data.shape[1]
nomes_colunas = data.columns

print(f"Número de colunas no DataFrame: {num_colunas}")
print("Nomes das colunas:")
print(nomes_colunas)

Número de colunas no DataFrame: 14
Nomes das colunas:
Index(['cod_pedido', 'regiao_pais', 'produto', 'valor', 'quantidade',
       'valor_total_bruto', 'data', 'estado', 'formapagto',
       'centro_distribuicao', 'responsavelpedido', 'valor_comissao',
       'lucro_liquido', 'categoriaprod'],
      dtype='object')

In [ ]:
# Verificar os tipos de dados das colunas

print("Tipos de dados das colunas:")
print(data.dtypes)

Tipos de dados das colunas:
cod_pedido              int64
regiao_pais            object
produto                object
valor                  object
quantidade             object
valor_total_bruto      object
data                   object
estado                 object
formapagto             object
centro_distribuicao    object
responsavelpedido      object
valor_comissao         object
lucro_liquido          object
categoriaprod          object
dtype: object

In [ ]:
# Converter a coluna 'cod_pedido' de int64 para object
df['cod_pedido'] = df['cod_pedido'].astype('object')

print(df.dtypes)

cod_pedido              object
regiao_pais             object
produto                 object
valor                   object
quantidade             float64
valor_total_bruto       object
data                    object
estado                  object
formapagto              object
centro_distribuicao     object
responsavelpedido       object
valor_comissao          object
lucro_liquido           object
categoriaprod           object
dtype: object

In [ ]:
# Converter as colunas especificadas para tipos numéricos
cols_to_convert = ['valor', 'valor_total_bruto', 'valor_comissao', 'lucro_liquido']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

print("\nApós a conversão:\n", df.dtypes)

Após a conversão:
 cod_pedido                     object
regiao_pais                    object
produto                        object
valor                         float64
quantidade                    float64
valor_total_bruto             float64
data                   datetime64[ns]
estado                         object
formapagto                     object
centro_distribuicao            object
responsavelpedido              object
valor_comissao                float64
lucro_liquido                 float64
categoriaprod                  object
dtype: object

In [ ]:
# Converter a coluna 'data' de object para datetime
df['data'] = pd.to_datetime(df['data'], errors='coerce')

print("\nApós a conversão:\n", df.dtypes)

Após a conversão:
 cod_pedido                     object
regiao_pais                    object
produto                        object
valor                         float64
quantidade                    float64
valor_total_bruto             float64
data                   datetime64[ns]
estado                         object
formapagto                     object
centro_distribuicao            object
responsavelpedido              object
valor_comissao                float64
lucro_liquido                 float64
categoriaprod                  object
dtype: object

In [ ]:
# Calcular o percentual de NaNs para cada coluna em relação ao total
df_nan['Percentual_NaN'] = (df_nan['Contagem_NaN'] / total_nan) * 100

print("Percentual de NaN em cada coluna em relação ao total de NaN:")

# Usar display() se estiver em um Jupyter Notebook
from IPython.display import display
display(df_nan)

Percentual de NaN em cada coluna em relação ao total de NaN:

                 Coluna  Contagem_NaN  Percentual_NaN
0            cod_pedido             0        0.000000
1           regiao_pais             0        0.000000
2               produto             0        0.000000
3                 valor         50079       22.933305
4            quantidade           188        0.086093
5     valor_total_bruto         49728       22.772567
6                  data         27352       12.525645
7                estado             0        0.000000
8            formapagto             0        0.000000
9   centro_distribuicao             0        0.000000
10    responsavelpedido             0        0.000000
11       valor_comissao         49876       22.840343
12        lucro_liquido         41145       18.842046
13        categoriaprod             0        0.000000

In [ ]:
# Contagem de NaN em cada coluna conforme fornecido
nan_por_coluna = {
    'cod_pedido': 0,
    'regiao_pais': 0,
    'produto': 0,
    'valor': 50079,
    'quantidade': 188,
    'valor_total_bruto': 49728,
    'data': 27352,
    'estado': 0,
    'formapagto': 0,
    'centro_distribuicao': 0,
    'responsavelpedido': 0,
    'valor_comissao': 49876,
    'lucro_liquido': 41145,
    'categoriaprod': 0
}

In [ ]:
# Converter para um DataFrame
df_nan = pd.DataFrame(list(nan_por_coluna.items()), columns=['Coluna', 'Contagem_NaN'])

In [ ]:
# Calcular o total de NaNs no DataFrame
total_nan = df_nan['Contagem_NaN'].sum()
print(f"Total de NaNs: {total_nan}")

Total de NaNs: 218368

In [ ]:
#Cálculo dos Outliers da coluna 'valor'
Q1 = df['valor'].quantile(0.25)
Q3 = df['valor'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR
outliers = df['valor'][(df['valor'] < limite_inferior) | (df['valor'] > limite_superior)]

print("Outliers encontrados:\n", outliers)

Outliers encontrados:
 2756     1377.0
5764     1296.0
6951     1296.0
8756     1296.0
9358     1296.0
12972    1296.0
17158    1296.0
19558    1377.0
20757    1296.0
20772    1296.0
21355    1377.0
21954    1377.0
22561    1296.0
23162    1377.0
27958    1377.0
29769    1296.0
31573    1377.0
32164    1377.0
33961    1377.0
35150    1296.0
39352    1377.0
39368    1296.0
40570    1377.0
41174    1377.0
44156    1296.0
44159    1377.0
45956    1377.0
47765    1296.0
48354    1377.0
50157    1296.0
Name: valor, dtype: float64

In [ ]:
# Calcular a moda da coluna 'valor'
moda_valor = df['valor'].mode()
print("Moda da coluna 'valor':", moda_valor[0])

Moda da coluna 'valor': 81.0

In [ ]:
# Calcular a mediana da coluna 'valor'
mediana_valor = df['valor'].median()
print("Mediana da coluna 'valor':", mediana_valor)

Mediana da coluna 'valor': 162.0

In [ ]:
# Calcular a média da coluna 'valor'
media_valor = df['valor'].mean()
# Exibir a média
print("Média da coluna 'valor':", media_valor)

Média da coluna 'valor': 233.66355140186917

In [ ]:
# Substituir NaN pela mediana da coluna 'valor'
df['valor'] = df['valor'].fillna(mediana_valor)
print("DataFrame após substituir NaN pela mediana:\n", df)

DataFrame após substituir NaN pela mediana:
       cod_pedido regiao_pais                               produto  valor  \
0         150581       Norte          Biscoito  True Champion 300g  162.0
1         150582       Norte          Biscoito  True Champion 300g  162.0
2         150583       Norte          Biscoito  True Champion 300g  162.0
3         150584       Norte          Biscoito  True Champion 300g  162.0
4         150585       Norte          Biscoito  True Champion 300g  162.0
...          ...         ...                                   ...    ...
50395     200976     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50396     200977     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50397     200978         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50398     200979         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50399     200980         Sul  Bandana Disney Mickey Fábrica Petti   162.0

       quantidade  valor_total_bruto       data             estado  \
0            22.0                NaN 2022-01-03               Acre
1             2.0                NaN        NaT              Amapá
2             4.0                NaN        NaT               Pará
3             4.0                NaN        NaT           Rondônia
4             2.0                NaN        NaT          Tocantins
...           ...                ...        ...                ...
50395         3.0                NaN 2022-07-02     Rio de Janeiro
50396         1.0                NaN 2022-06-02     Espírito Santo
50397         3.0                NaN        NaT             Paraná
50398         2.0                NaN        NaT    Santa  Catarina
50399         1.0                NaN 2022-02-04  Rio Grande do Sul

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
0                  Pix          Rapid Pink            Carlos             NaN
1      Boleto Bancário          Rapid Pink       Maria Linda             NaN
2      Boleto Bancário          Rapid Pink             Julia             NaN
3             Dinheiro          Rapid Pink              Yuri             NaN
4             Dinheiro          Rapid Pink           Dolores             NaN
...                ...                 ...               ...             ...
50395    Cartão Débito         Papa Léguas           Antonio             NaN
50396    Cartão Débito         Papa Léguas            Tereza             NaN
50397   Cartão Crédito           Tree True           Beatriz             NaN
50398              Pix           Tree True           Vitória             NaN
50399    Cartão Débito           Tree True            Vivian             NaN

       lucro_liquido categoriaprod
0                NaN   Alimentação
1                NaN   Alimentação
2                NaN   Alimentação
3                NaN   Alimentação
4                NaN   Alimentação
...              ...           ...
50395            NaN     Acessório
50396            NaN     Acessório
50397            NaN     Acessório
50398            NaN     Acessório
50399            7.0     Acessório

[50400 rows x 14 columns]

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()
print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido                 0
regiao_pais                0
produto                    0
valor                      0
quantidade               188
valor_total_bruto      49728
data                   27352
estado                     0
formapagto                 0
centro_distribuicao        0
responsavelpedido          0
valor_comissao         49876
lucro_liquido          41145
categoriaprod              0
dtype: int64

In [ ]:
# Cálculo do outliers da coluna 'quantidade'
Q1 = df['quantidade'].quantile(0.25)
Q3 = df['quantidade'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df['quantidade'][(df['quantidade'] < limite_inferior) | (df['quantidade'] > limite_superior)]

print("Outliers encontrados na coluna 'quantidade':\n", outliers)

Outliers encontrados na coluna 'quantidade':
 0        22.0
2         4.0
3         4.0
5         4.0
9         4.0
         ...
50125    44.0
50185    45.0
50193    42.0
50219    43.0
50244    42.0
Name: quantidade, Length: 2569, dtype: float64

In [ ]:
# Calcular a moda da coluna 'quantidade'
moda_quantidade = df['quantidade'].mode()
print("Moda da coluna 'quantidade':", moda_quantidade[0])

Moda da coluna 'quantidade': 1.0

In [ ]:
# Calcular a mediana da coluna 'quantidade'
mediana_quantidade = df['quantidade'].median()
print("Mediana da coluna 'quantidade':", mediana_quantidade)

Mediana da coluna 'quantidade': 1.0

In [ ]:
# Calcular a média da coluna 'quantidade'
media_quantidade = df['quantidade'].mean()
print("Média da coluna 'quantidade':", media_quantidade)

Média da coluna 'quantidade': 2.577591014100215

In [ ]:
# Substituir NaN pela mediana da coluna 'quantidade'
df['quantidade'] = df['quantidade'].fillna(mediana_quantidade)
print("DataFrame após substituir NaN pela mediana:\n", df)

DataFrame após substituir NaN pela mediana:
       cod_pedido regiao_pais                               produto  valor  \
0         150581       Norte          Biscoito  True Champion 300g  162.0
1         150582       Norte          Biscoito  True Champion 300g  162.0
2         150583       Norte          Biscoito  True Champion 300g  162.0
3         150584       Norte          Biscoito  True Champion 300g  162.0
4         150585       Norte          Biscoito  True Champion 300g  162.0
...          ...         ...                                   ...    ...
50395     200976     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50396     200977     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50397     200978         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50398     200979         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50399     200980         Sul  Bandana Disney Mickey Fábrica Petti   162.0

       quantidade  valor_total_bruto       data             estado  \
0            22.0                NaN 2022-01-03               Acre
1             2.0                NaN        NaT              Amapá
2             4.0                NaN        NaT               Pará
3             4.0                NaN        NaT           Rondônia
4             2.0                NaN        NaT          Tocantins
...           ...                ...        ...                ...
50395         3.0                NaN 2022-07-02     Rio de Janeiro
50396         1.0                NaN 2022-06-02     Espírito Santo
50397         3.0                NaN        NaT             Paraná
50398         2.0                NaN        NaT    Santa  Catarina
50399         1.0                NaN 2022-02-04  Rio Grande do Sul

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
0                  Pix          Rapid Pink            Carlos             NaN
1      Boleto Bancário          Rapid Pink       Maria Linda             NaN
2      Boleto Bancário          Rapid Pink             Julia             NaN
3             Dinheiro          Rapid Pink              Yuri             NaN
4             Dinheiro          Rapid Pink           Dolores             NaN
...                ...                 ...               ...             ...
50395    Cartão Débito         Papa Léguas           Antonio             NaN
50396    Cartão Débito         Papa Léguas            Tereza             NaN
50397   Cartão Crédito           Tree True           Beatriz             NaN
50398              Pix           Tree True           Vitória             NaN
50399    Cartão Débito           Tree True            Vivian             NaN

       lucro_liquido categoriaprod
0                NaN   Alimentação
1                NaN   Alimentação
2                NaN   Alimentação
3                NaN   Alimentação
4                NaN   Alimentação
...              ...           ...
50395            NaN     Acessório
50396            NaN     Acessório
50397            NaN     Acessório
50398            NaN     Acessório
50399            7.0     Acessório

[50400 rows x 14 columns]

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()
print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido                 0
regiao_pais                0
produto                    0
valor                      0
quantidade                 0
valor_total_bruto      49728
data                   27352
estado                     0
formapagto                 0
centro_distribuicao        0
responsavelpedido          0
valor_comissao         49876
lucro_liquido          41145
categoriaprod              0
dtype: int64

In [ ]:
# Cálculo do outliers da coluna 'valor_total_bruto'

Q1 = df['valor_total_bruto'].quantile(0.25)
Q3 = df['valor_total_bruto'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df['valor_total_bruto'][(df['valor_total_bruto'] < limite_inferior) | (df['valor_total_bruto'] > limite_superior)]

print("Outliers encontrados na coluna 'valor_total_bruto':\n", outliers)

Outliers encontrados na coluna 'valor_total_bruto':
 8        2534234.0
381         2345.0
443        52345.0
567         3241.0
650         5363.0
           ...
45956       1377.0
47765       1296.0
48354       1377.0
50058       1782.0
50157       1296.0
Name: valor_total_bruto, Length: 99, dtype: float64

In [ ]:
# Calcular a moda da coluna 'valor_total_bruto'
moda_valor_total_bruto = df['valor_total_bruto'].mode()
print("Moda da coluna 'valor_total_bruto':", moda_valor_total_bruto[0])

Moda da coluna 'valor_total_bruto': 81.0

In [ ]:
# Calcular a média da coluna 'valor_total_bruto'
media_valor_total_bruto = df['valor_total_bruto'].mean()
print("Média da coluna 'valor_total_bruto':", media_valor_total_bruto)

Média da coluna 'valor_total_bruto': 10023.744047619048

In [ ]:
# Calcular a mediana da coluna 'valor_total_bruto'
mediana_valor_total_bruto = df['valor_total_bruto'].median()
print("Mediana da coluna 'valor_total_bruto':", mediana_valor_total_bruto)

Mediana da coluna 'valor_total_bruto': 81.0

In [ ]:
# Substituir NaN pela mediana na coluna 'valor_total_bruto'
df['valor_total_bruto'] = df['valor_total_bruto'].fillna(mediana_valor_total_bruto)
print("DataFrame após substituir NaN pela mediana:\n", df)

DataFrame após substituir NaN pela mediana:
       cod_pedido regiao_pais                               produto  valor  \
0         150581       Norte          Biscoito  True Champion 300g  162.0
1         150582       Norte          Biscoito  True Champion 300g  162.0
2         150583       Norte          Biscoito  True Champion 300g  162.0
3         150584       Norte          Biscoito  True Champion 300g  162.0
4         150585       Norte          Biscoito  True Champion 300g  162.0
...          ...         ...                                   ...    ...
50395     200976     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50396     200977     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50397     200978         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50398     200979         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50399     200980         Sul  Bandana Disney Mickey Fábrica Petti   162.0

       quantidade  valor_total_bruto       data             estado  \
0            22.0               81.0 2022-01-03               Acre
1             2.0               81.0        NaT              Amapá
2             4.0               81.0        NaT               Pará
3             4.0               81.0        NaT           Rondônia
4             2.0               81.0        NaT          Tocantins
...           ...                ...        ...                ...
50395         3.0               81.0 2022-07-02     Rio de Janeiro
50396         1.0               81.0 2022-06-02     Espírito Santo
50397         3.0               81.0        NaT             Paraná
50398         2.0               81.0        NaT    Santa  Catarina
50399         1.0               81.0 2022-02-04  Rio Grande do Sul

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
0                  Pix          Rapid Pink            Carlos             NaN
1      Boleto Bancário          Rapid Pink       Maria Linda             NaN
2      Boleto Bancário          Rapid Pink             Julia             NaN
3             Dinheiro          Rapid Pink              Yuri             NaN
4             Dinheiro          Rapid Pink           Dolores             NaN
...                ...                 ...               ...             ...
50395    Cartão Débito         Papa Léguas           Antonio             NaN
50396    Cartão Débito         Papa Léguas            Tereza             NaN
50397   Cartão Crédito           Tree True           Beatriz             NaN
50398              Pix           Tree True           Vitória             NaN
50399    Cartão Débito           Tree True            Vivian             NaN

       lucro_liquido categoriaprod
0                NaN   Alimentação
1                NaN   Alimentação
2                NaN   Alimentação
3                NaN   Alimentação
4                NaN   Alimentação
...              ...           ...
50395            NaN     Acessório
50396            NaN     Acessório
50397            NaN     Acessório
50398            NaN     Acessório
50399            7.0     Acessório

[50400 rows x 14 columns]

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()
print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido                 0
regiao_pais                0
produto                    0
valor                      0
quantidade                 0
valor_total_bruto          0
data                   27352
estado                     0
formapagto                 0
centro_distribuicao        0
responsavelpedido          0
valor_comissao         49876
lucro_liquido          41145
categoriaprod              0
dtype: int64

In [ ]:
## Substituir NaT usando backward fill - (Proxímo valor válido)
df['data'] = df['data'].bfill()

print("DataFrame após substituir NaT com backward fill:\n", df)

DataFrame após substituir NaT com backward fill:
       cod_pedido regiao_pais                               produto  valor  \
0         150581       Norte          Biscoito  True Champion 300g  162.0
1         150582       Norte          Biscoito  True Champion 300g  162.0
2         150583       Norte          Biscoito  True Champion 300g  162.0
3         150584       Norte          Biscoito  True Champion 300g  162.0
4         150585       Norte          Biscoito  True Champion 300g  162.0
...          ...         ...                                   ...    ...
50395     200976     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50396     200977     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50397     200978         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50398     200979         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50399     200980         Sul  Bandana Disney Mickey Fábrica Petti   162.0

       quantidade  valor_total_bruto       data             estado  \
0            22.0               81.0 2022-01-03               Acre
1             2.0               81.0 2022-07-01              Amapá
2             4.0               81.0 2022-07-01               Pará
3             4.0               81.0 2022-07-01           Rondônia
4             2.0               81.0 2022-07-01          Tocantins
...           ...                ...        ...                ...
50395         3.0               81.0 2022-07-02     Rio de Janeiro
50396         1.0               81.0 2022-06-02     Espírito Santo
50397         3.0               81.0 2022-02-04             Paraná
50398         2.0               81.0 2022-02-04    Santa  Catarina
50399         1.0               81.0 2022-02-04  Rio Grande do Sul

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
0                  Pix          Rapid Pink            Carlos             NaN
1      Boleto Bancário          Rapid Pink       Maria Linda             NaN
2      Boleto Bancário          Rapid Pink             Julia             NaN
3             Dinheiro          Rapid Pink              Yuri             NaN
4             Dinheiro          Rapid Pink           Dolores             NaN
...                ...                 ...               ...             ...
50395    Cartão Débito         Papa Léguas           Antonio             NaN
50396    Cartão Débito         Papa Léguas            Tereza             NaN
50397   Cartão Crédito           Tree True           Beatriz             NaN
50398              Pix           Tree True           Vitória             NaN
50399    Cartão Débito           Tree True            Vivian             NaN

       lucro_liquido categoriaprod
0                NaN   Alimentação
1                NaN   Alimentação
2                NaN   Alimentação
3                NaN   Alimentação
4                NaN   Alimentação
...              ...           ...
50395            NaN     Acessório
50396            NaN     Acessório
50397            NaN     Acessório
50398            NaN     Acessório
50399            7.0     Acessório

[50400 rows x 14 columns]

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()

print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido                 0
regiao_pais                0
produto                    0
valor                      0
quantidade                 0
valor_total_bruto          0
data                       0
estado                     0
formapagto                 0
centro_distribuicao        0
responsavelpedido          0
valor_comissao         49876
lucro_liquido          41145
categoriaprod              0
dtype: int64

In [ ]:
#Cálculo de Outliers na coluna 'valor_comissão'
Q1 = df['valor_comissao'].quantile(0.25)
Q3 = df['valor_comissao'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df['valor_comissao'][(df['valor_comissao'] < limite_inferior) | (df['valor_comissao'] > limite_superior)]

print("Outliers encontrados na coluna 'valor_comissao':\n", outliers)

Outliers encontrados na coluna 'valor_comissao':
 373      172.0
821       22.0
973       34.0
1560      56.0
2615      33.0
         ...
48805     22.0
48816     22.0
49400     33.0
49401     33.0
49553     56.0
Name: valor_comissao, Length: 82, dtype: float64

In [ ]:
# Calcular a média da coluna 'valor_comissao'
media_valor_comissao = df['valor_comissao'].mean()
print("Média da coluna 'valor_comissao':", media_valor_comissao)

Média da coluna 'valor_comissao': 26.064885496183205

In [ ]:
# Calcular a mediana da coluna 'valor_comissao'
mediana_valor_comissao = df['valor_comissao'].median()
print("Mediana da coluna 'valor_comissao':", mediana_valor_comissao)

Mediana da coluna 'valor_comissao': 4.0

In [ ]:
# Calcular a moda da coluna 'valor_comissao'
moda_valor_comissao = df['valor_comissao'].mode()
print("Moda da coluna 'valor_comissao':", moda_valor_comissao[0])

Moda da coluna 'valor_comissao': 1.0

In [ ]:
# Substituir NaN pela mediana na coluna 'valor_comissao'
df['valor_comissao'] = df['valor_comissao'].fillna(mediana_valor_comissao)

print("DataFrame após substituir NaN pela mediana:\n", df)

DataFrame após substituir NaN pela mediana:
       cod_pedido regiao_pais                               produto  valor  \
0         150581       Norte          Biscoito  True Champion 300g  162.0
1         150582       Norte          Biscoito  True Champion 300g  162.0
2         150583       Norte          Biscoito  True Champion 300g  162.0
3         150584       Norte          Biscoito  True Champion 300g  162.0
4         150585       Norte          Biscoito  True Champion 300g  162.0
...          ...         ...                                   ...    ...
50395     200976     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50396     200977     Sudeste  Bandana Disney Mickey Fábrica Petti   162.0
50397     200978         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50398     200979         Sul  Bandana Disney Mickey Fábrica Petti   162.0
50399     200980         Sul  Bandana Disney Mickey Fábrica Petti   162.0

       quantidade  valor_total_bruto       data             estado  \
0            22.0               81.0 2022-01-03               Acre
1             2.0               81.0 2022-07-01              Amapá
2             4.0               81.0 2022-07-01               Pará
3             4.0               81.0 2022-07-01           Rondônia
4             2.0               81.0 2022-07-01          Tocantins
...           ...                ...        ...                ...
50395         3.0               81.0 2022-07-02     Rio de Janeiro
50396         1.0               81.0 2022-06-02     Espírito Santo
50397         3.0               81.0 2022-02-04             Paraná
50398         2.0               81.0 2022-02-04    Santa  Catarina
50399         1.0               81.0 2022-02-04  Rio Grande do Sul

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
0                  Pix          Rapid Pink            Carlos             4.0
1      Boleto Bancário          Rapid Pink       Maria Linda             4.0
2      Boleto Bancário          Rapid Pink             Julia             4.0
3             Dinheiro          Rapid Pink              Yuri             4.0
4             Dinheiro          Rapid Pink           Dolores             4.0
...                ...                 ...               ...             ...
50395    Cartão Débito         Papa Léguas           Antonio             4.0
50396    Cartão Débito         Papa Léguas            Tereza             4.0
50397   Cartão Crédito           Tree True           Beatriz             4.0
50398              Pix           Tree True           Vitória             4.0
50399    Cartão Débito           Tree True            Vivian             4.0

       lucro_liquido categoriaprod
0                NaN   Alimentação
1                NaN   Alimentação
2                NaN   Alimentação
3                NaN   Alimentação
4                NaN   Alimentação
...              ...           ...
50395            NaN     Acessório
50396            NaN     Acessório
50397            NaN     Acessório
50398            NaN     Acessório
50399            7.0     Acessório

[50400 rows x 14 columns]

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()

print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido                 0
regiao_pais                0
produto                    0
valor                      0
quantidade                 0
valor_total_bruto          0
data                       0
estado                     0
formapagto                 0
centro_distribuicao        0
responsavelpedido          0
valor_comissao             0
lucro_liquido          41145
categoriaprod              0
dtype: int64

In [ ]:
# Identificar os outliers da coluna 'lucro_liquido'
outliers = df['lucro_liquido'][(df['lucro_liquido'] < limite_inferior) | (df['lucro_liquido'] > limite_superior)]

print("Outliers encontrados na coluna 'lucro_liquido':\n", outliers)

Outliers encontrados na coluna 'lucro_liquido':
 11        24.0
13        16.0
14        16.0
33       304.0
36        24.0
         ...
50314     24.0
50317     36.0
50321     20.0
50357     57.0
50368     54.0
Name: lucro_liquido, Length: 8386, dtype: float64

In [ ]:
# Cálculo da média da coluna 'lucro_liquido'
media_lucro_liquido = df['lucro_liquido'].mean()

print("Média da coluna 'lucro_liquido':", media_lucro_liquido)

Média da coluna 'lucro_liquido': 119.94748784440843

In [ ]:
# Cálculo da mediana da coluna 'lucro_liquido'
mediana_lucro_liquido = df['lucro_liquido'].median()
print("Mediana da coluna 'lucro_liquido':", mediana_lucro_liquido)

Mediana da coluna 'lucro_liquido': 32.0

In [ ]:
# Cálculo da moda da coluna 'lucro_liquido'
moda_lucro_liquido = df['lucro_liquido'].mode()
print("Moda da coluna 'lucro_liquido':")
print(moda_lucro_liquido)

Moda da coluna 'lucro_liquido':
0    24.0
Name: lucro_liquido, dtype: float64

In [ ]:
# Exibir as primeiras linhas do DataFrame para verificar a substituição

print("Primeiras linhas do DataFrame após substituição:")
print(df.head())

Primeiras linhas do DataFrame após substituição:
  cod_pedido regiao_pais                       produto  valor  quantidade  \
0     150581       Norte  Biscoito  True Champion 300g  162.0        22.0
1     150582       Norte  Biscoito  True Champion 300g  162.0         2.0
2     150583       Norte  Biscoito  True Champion 300g  162.0         4.0
3     150584       Norte  Biscoito  True Champion 300g  162.0         4.0
4     150585       Norte  Biscoito  True Champion 300g  162.0         2.0

   valor_total_bruto       data     estado       formapagto  \
0               81.0 2022-01-03       Acre              Pix
1               81.0 2022-07-01      Amapá  Boleto Bancário
2               81.0 2022-07-01       Pará  Boleto Bancário
3               81.0 2022-07-01   Rondônia         Dinheiro
4               81.0 2022-07-01  Tocantins         Dinheiro

  centro_distribuicao responsavelpedido  valor_comissao  lucro_liquido  \
0          Rapid Pink            Carlos             4.0           32.0
1          Rapid Pink       Maria Linda             4.0           32.0
2          Rapid Pink             Julia             4.0           32.0
3          Rapid Pink              Yuri             4.0           32.0
4          Rapid Pink           Dolores             4.0           32.0

  categoriaprod
0   Alimentação
1   Alimentação
2   Alimentação
3   Alimentação
4   Alimentação

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()
print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido             0
regiao_pais            0
produto                0
valor                  0
quantidade             0
valor_total_bruto      0
data                   0
estado                 0
formapagto             0
centro_distribuicao    0
responsavelpedido      0
valor_comissao         0
lucro_liquido          0
categoriaprod          0
dtype: int64

In [ ]:
# Gerar uma descrição estatística do DataFrame
descricao = df.describe()
print("Descrição estatística do DataFrame:")
print(descricao)

Descrição estatística do DataFrame:
              valor    quantidade  valor_total_bruto  \
count  50400.000000  50400.000000       5.040000e+04
mean     162.456429      2.571706       2.135699e+02
min       81.000000      1.000000       0.000000e+00
25%      162.000000      1.000000       8.100000e+01
50%      162.000000      1.000000       8.100000e+01
75%      162.000000      2.000000       8.100000e+01
max     1377.000000     47.000000       3.456346e+06
std       29.009361      5.656382       1.910240e+04

                                data  valor_comissao  lucro_liquido
count                          50400    50400.000000   50400.000000
mean   2022-06-15 06:10:32.571428608        4.229405      48.149881
min              2022-01-01 00:00:00        1.000000       3.000000
25%              2022-03-04 00:00:00        4.000000      32.000000
50%              2022-06-04 00:00:00        4.000000      32.000000
75%              2022-09-04 00:00:00        4.000000      32.000000
max              2022-12-04 00:00:00     2205.000000   11475.000000
std                              NaN       16.325346     219.422619

In [ ]:
# Converter a coluna 'cod_pedido' de int64 para object
df['cod_pedido'] = df['cod_pedido'].astype('object')
print(df.dtypes)

cod_pedido                     object
regiao_pais                    object
produto                        object
valor                         float64
quantidade                    float64
valor_total_bruto             float64
data                   datetime64[ns]
estado                         object
formapagto                     object
centro_distribuicao            object
responsavelpedido              object
valor_comissao                float64
lucro_liquido                 float64
categoriaprod                  object
dtype: object

In [ ]:
# Contar quantos NaN/NaT há em cada coluna
na_counts = df.isna().sum()
print("Contagem de NaN em cada coluna:\n", na_counts)

Contagem de NaN em cada coluna:
 cod_pedido             0
regiao_pais            0
produto                0
valor                  0
quantidade             0
valor_total_bruto      0
data                   0
estado                 0
formapagto             0
centro_distribuicao    0
responsavelpedido      0
valor_comissao         0
lucro_liquido          0
categoriaprod          0
dtype: int64

In [ ]:
# Gerar uma descrição estatística para todas as colunas
descricao = df.describe(include='all')
print("Descrição estatística completa do DataFrame:")
print(descricao)

Descrição estatística completa do DataFrame:
        cod_pedido regiao_pais                       produto         valor  \
count      50400.0       50400                         50400  50400.000000
unique     50400.0           5                            24           NaN
top       200964.0       Norte  Biscoito  True Champion 300g           NaN
freq           1.0       14112                          2100           NaN
mean           NaN         NaN                           NaN    162.456429
min            NaN         NaN                           NaN     81.000000
25%            NaN         NaN                           NaN    162.000000
50%            NaN         NaN                           NaN    162.000000
75%            NaN         NaN                           NaN    162.000000
max            NaN         NaN                           NaN   1377.000000
std            NaN         NaN                           NaN     29.009361

          quantidade  valor_total_bruto                           data estado  \
count   50400.000000       5.040000e+04                          50400  50400
unique           NaN                NaN                            NaN     25
top              NaN                NaN                            NaN   Acre
freq             NaN                NaN                            NaN   2016
mean        2.571706       2.135699e+02  2022-06-15 06:10:32.571428608    NaN
min         1.000000       0.000000e+00            2022-01-01 00:00:00    NaN
25%         1.000000       8.100000e+01            2022-03-04 00:00:00    NaN
50%         1.000000       8.100000e+01            2022-06-04 00:00:00    NaN
75%         2.000000       8.100000e+01            2022-09-04 00:00:00    NaN
max        47.000000       3.456346e+06            2022-12-04 00:00:00    NaN
std         5.656382       1.910240e+04                            NaN    NaN

            formapagto centro_distribuicao responsavelpedido  valor_comissao  \
count            50400               50400             50400    50400.000000
unique               5                   5                25             NaN
top     Cartão Crédito          Rapid Pink            Carlos             NaN
freq             10215               14112              2016             NaN
mean               NaN                 NaN               NaN        4.229405
min                NaN                 NaN               NaN        1.000000
25%                NaN                 NaN               NaN        4.000000
50%                NaN                 NaN               NaN        4.000000
75%                NaN                 NaN               NaN        4.000000
max                NaN                 NaN               NaN     2205.000000
std                NaN                 NaN               NaN       16.325346

        lucro_liquido categoriaprod
count    50400.000000         50400
unique            NaN             7
top               NaN     Acessório
freq              NaN         12600
mean        48.149881           NaN
min          3.000000           NaN
25%         32.000000           NaN
50%         32.000000           NaN
75%         32.000000           NaN
max      11475.000000           NaN
std        219.422619           NaN

In [ ]:
# Combinar todos os DataFrames em um único DataFrame
data = pd.concat(dfs, ignore_index=True)

In [ ]:
# Calcular a média de 'valor' por 'regiao_pais'
media_preco_por_regiao = df.groupby('regiao_pais')['valor'].mean()
print("Média do preço por região:")
print(media_preco_por_regiao)

Média do preço por região:
regiao_pais
Centro Oeste    162.753348
Nordeste        162.321429
Norte           162.608418
Sudeste         162.088393
Sul             162.589286
Name: valor, dtype: float64

In [ ]:
# Cálculo do outliers da coluna 'valor_total_bruto'

Q1 = df['valor_total_bruto'].quantile(0.25)
Q3 = df['valor_total_bruto'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

outliers = df['valor_total_bruto'][(df['valor_total_bruto'] < limite_inferior) | (df['valor_total_bruto'] > limite_superior)]

print("Outliers encontrados na coluna 'valor_total_bruto':\n", outliers)

Outliers encontrados na coluna 'valor_total_bruto':
 8        2534234.0
102           34.0
164          354.0
226          532.0
319          354.0
           ...
50001        891.0
50015        891.0
50058       1782.0
50157       1296.0
50222        486.0
Name: valor_total_bruto, Length: 352, dtype: float64

In [ ]:
# Cálculo do outliers da coluna 'quantidade'

Q1_quantidade = df['quantidade'].quantile(0.25)
Q3_quantidade = df['quantidade'].quantile(0.75)
IQR_quantidade = Q3_quantidade - Q1_quantidade
limite_inferior_quantidade = Q1_quantidade - 1.5 * IQR_quantidade
limite_superior_quantidade = Q3_quantidade + 1.5 * IQR_quantidade

outliers_quantidade = df[(df['quantidade'] < limite_inferior_quantidade) | (df['quantidade'] > limite_superior_quantidade)]['quantidade']

print("Outliers encontrados na coluna 'quantidade':\n", outliers_quantidade)

Outliers encontrados na coluna 'quantidade':
 0        22.0
2         4.0
3         4.0
5         4.0
9         4.0
         ...
50125    44.0
50185    45.0
50193    42.0
50219    43.0
50244    42.0
Name: quantidade, Length: 2569, dtype: float64

In [ ]:
# Filtrando as vendas associadas aos outliers da 'quantidade'
vendas_outliers = df[df['quantidade'].isin(outliers_quantidade)]['valor_total_bruto']

print("Descrição das vendas associadas aos outliers da coluna 'quantidade':\n", vendas_outliers.describe())

Descrição das vendas associadas aos outliers da coluna 'quantidade':
 count     2569.000000
mean       180.968470
std       1450.313185
min          0.000000
25%         81.000000
50%         81.000000
75%         81.000000
max      47061.000000
Name: valor_total_bruto, dtype: float64

In [ ]:
# Removendo os outliers para calcular a estimativa de variabilidade
df_sem_outliers = df[(df['quantidade'] >= limite_inferior) & (df['quantidade'] <= limite_superior)]

In [ ]:
# Calculando a estimativa de variabilidade (desvio padrão) para a coluna 'quantidade' sem os outliers
variabilidade_sem_outliers = df_sem_outliers['quantidade'].std()

print(f"Desvio padrão (sem outliers) da coluna 'quantidade': {variabilidade_sem_outliers}")

Desvio padrão (sem outliers) da coluna 'quantidade': nan

In [ ]:
# Estatísticas descritivas para a coluna 'valor_total_bruto'
valor_total_mean = df['valor_total_bruto'].mean()
valor_total_std = df['valor_total_bruto'].std()

print("\nEstatísticas descritivas para 'valor_total_bruto' dos outliers:")
print(outliers_valor_bruto['valor_total_bruto'].describe())

Estatísticas descritivas para 'valor_total_bruto' dos outliers:
count    4.000000e+00
mean     1.536041e+06
std      1.726551e+06
min      6.789600e+04
25%      8.123925e+04
50%      1.309960e+06
75%      2.764762e+06
max      3.456346e+06
Name: valor_total_bruto, dtype: float64

In [ ]:
# Definir o limite superior para identificar outliers (média + 3 desvio padrão)
limite_superior_valor_bruto = valor_total_mean + (3 * valor_total_std)

In [ ]:
# Identificar os outliers na coluna 'valor_total_bruto'
outliers_valor_bruto = df[df['valor_total_bruto'] > limite_superior_valor_bruto]
print("Outliers na coluna 'valor_total_bruto':")
print(outliers_valor_bruto)

Outliers na coluna 'valor_total_bruto':
     cod_pedido   regiao_pais  \
8        150589  Centro Oeste
838      151419      Nordeste
877      151458         Norte
2613     153194      Nordeste

                                                produto  valor  quantidade  \
8                          Biscoito  True Champion 300g  162.0         2.0
838   Suplemento Alimentar Glutamina Mundo Animal Nu...  162.0         1.0
877   Escova Pet Rasqueadeira Tira Pelos Cachorro e ...  162.0         1.0
2613  Antipulgas e Carrapatos MSD Bravecto para Pet ...  162.0         2.0

      valor_total_bruto       data       estado       formapagto  \
8             2534234.0 2022-04-03  Mato Grosso  Boleto Bancário
838           3456346.0 2022-09-01        Ceará  Boleto Bancário
877             67896.0 2022-01-01         Pará    Cartão Débito
2613            85687.0 2022-05-03        Ceará   Cartão Crédito

     centro_distribuicao responsavelpedido  valor_comissao  lucro_liquido  \
8             Grãos Blue          Andressa             4.0           32.0
838           Gold Beach             Neide             4.0           32.0
877           Rapid Pink             Julia             4.0           32.0
2613          Gold Beach             Neide             4.0           32.0

          categoriaprod
8           Alimentação
838         Medicamento
877   Higiene e Limpeza
2613        Medicamento

In [ ]:
# Filtrar o DataFrame removendo os outliers de 'valor_total_bruto'
df_sem_outliers_valor_bruto = df[df['valor_total_bruto'] <= limite_superior_valor_bruto]

In [ ]:
# Calcular o desvio padrão da coluna 'valor_total_bruto' sem os outliers
desvio_padrao_sem_outliers_valor_bruto = df_sem_outliers_valor_bruto['valor_total_bruto'].std()

print(f"\nDesvio padrão de 'valor_total_bruto' sem outliers: {desvio_padrao_sem_outliers_valor_bruto}")

Desvio padrão de 'valor_total_bruto' sem outliers: 486.6335624615527

In [ ]:
# Estatísticas descritivas para a coluna 'quantidade'
quantidade_mean = df['quantidade'].mean()
quantidade_std = df['quantidade'].std()

print(f"Média de 'quantidade': {quantidade_mean}")
print(f"Desvio padrão de 'quantidade': {quantidade_std}")

Média de 'quantidade': 2.571706349206349
Desvio padrão de 'quantidade': 5.6563822078096155

In [ ]:
# Definir o limite superior para identificar outliers
limite_superior = quantidade_mean + (3 * quantidade_std)

print(f"Limite superior para outliers em 'quantidade': {limite_superior}")

Limite superior para outliers em 'quantidade': 19.540852972635196

In [ ]:
# Identificar os outliers na coluna 'quantidade' garantindo que todas as colunas sejam mantidas
outliers_quantidade = df[df['quantidade'] > limite_superior]
print("Outliers na coluna 'quantidade':")
print(outliers_quantidade)

Outliers na coluna 'quantidade':
      cod_pedido   regiao_pais  \
0         150581         Norte
33        150614  Centro Oeste
42        150623       Sudeste
71        150652       Sudeste
182       150763  Centro Oeste
...          ...           ...
50125     200706         Norte
50185     200766  Centro Oeste
50193     200774       Sudeste
50219     200800       Sudeste
50244     200825       Sudeste

                                                 produto  valor  quantidade  \
0                           Biscoito  True Champion 300g  162.0        22.0
33                               Bola Pet Vinil Big Blue  162.0        40.0
42                               Bola Pet Vinil Big Blue  162.0        21.0
71                            Cama média almofadada Pity  162.0        21.0
182                        Vitamina E Granulado BigForce  162.0        22.0
...                                                  ...    ...         ...
50125  Bebedouro e Comedouro Automático para Cães e G...  162.0        44.0
50185  Ração Royal Canin Club Performance para Cães A...  162.0        45.0
50193  Ração Royal Canin Club Performance para Cães A...  162.0        42.0
50219      Ração Royal Canin Exigent Gatos Adultos 1,5Kg  162.0        43.0
50244  Ração Úmida Royal Canin Lata Veterinary Cães A...  162.0        42.0

       valor_total_bruto       data            estado       formapagto  \
0                   81.0 2022-01-03              Acre              Pix
33                  81.0 2022-11-01       Mato Grosso    Cartão Débito
42                  81.0 2022-07-04             Piauí  Boleto Bancário
71                  81.0 2022-07-04    Espírito Santo              Pix
182                 81.0 2022-08-02             Goiás  Boleto Bancário
...                  ...        ...               ...              ...
50125               81.0 2022-05-02              Acre         Dinheiro
50185               81.0 2022-07-04  Distrito Federal              Pix
50193               81.0 2022-01-03         São Paulo              Pix
50219               81.0 2022-01-01      Minas Gerais   Cartão Crédito
50244               81.0 2022-01-03      Minas Gerais         Dinheiro

      centro_distribuicao responsavelpedido  valor_comissao  lucro_liquido  \
0              Rapid Pink            Carlos             4.0           32.0
33             Grãos Blue          Andressa             4.0          304.0
42            Papa Léguas          Cristian             4.0           32.0
71            Papa Léguas            Tereza             4.0           32.0
182            Grãos Blue       Maria Clara             4.0           32.0
...                   ...               ...             ...            ...
50125          Rapid Pink            Carlos             4.0          880.0
50185          Grãos Blue             Lucia             4.0         3816.0
50193         Papa Léguas            Miriam             4.0         3612.0
50219         Papa Léguas           Monique             4.0         2193.0
50244         Papa Léguas           Monique             4.0          546.0

                 categoriaprod
0                  Alimentação
33                   Brinquedo
42                   Brinquedo
71                   Acessório
182                Medicamento
...                        ...
50125  Bebedouros e Comedouros
50185              Alimentação
50193              Alimentação
50219              Alimentação
50244              Alimentação

[1430 rows x 14 columns]

In [ ]:
# Verificar se 'valor_total_bruto' está presente nas colunas dos outliers
if 'valor_total_bruto' in outliers_quantidade.columns:
    valor_bruto_outliers_quantidade = outliers_quantidade['valor_total_bruto']

    print("\nEstatísticas descritivas para 'valor_total_bruto' dos outliers de 'quantidade':")
    print(valor_bruto_outliers_quantidade.describe())
else:
    print("'valor_total_bruto' não encontrado no DataFrame de outliers.")

Estatísticas descritivas para 'valor_total_bruto' dos outliers de 'quantidade':
count     1430.000000
mean       260.669930
std       1940.518139
min          0.000000
25%         81.000000
50%         81.000000
75%         81.000000
max      47061.000000
Name: valor_total_bruto, dtype: float64

In [ ]:
# Filtrar o DataFrame removendo os outliers de 'quantidade'
df_sem_outliers_quantidade = df[df['quantidade'] <= limite_superior]

# Calcular o desvio padrão da coluna 'quantidade' sem os outliers
desvio_padrao_sem_outliers_quantidade = df_sem_outliers_quantidade['quantidade'].std()
print(f"\nDesvio padrão de 'quantidade' sem outliers: {desvio_padrao_sem_outliers_quantidade}")

Desvio padrão de 'quantidade' sem outliers: 0.848767829514076

In [ ]:
# Calcular a média de preço da população
media_populacao = df['valor'].mean()
print(f"Média de preço da população: {media_populacao}")

Média de preço da população: 162.45642857142857

In [ ]:
# Teste de hipóteses para cada região
for regiao in df['regiao_pais'].unique():
    # Média de preço por região
    media_regiao = df[df['regiao_pais'] == regiao]['valor'].mean()

    # Teste t para comparar a média da região com a média da população
    t_stat, p_value = ttest_1samp(df[df['regiao_pais'] == regiao]['valor'], media_populacao)

    # Exibir os resultados
    print(f"\nRegião: {regiao}")
    print(f"Média de preço da região: {media_regiao}")
    print(f"Estatística t: {t_stat}, Valor p: {p_value}")

    # Avaliar significância
    if p_value < 0.05:
        print("Diferença estatisticamente significativa com a média da população.")
    else:
        print("Nenhuma diferença estatisticamente significativa com a média da população.")

Região: Norte
Média de preço da região: 162.60841836734693
Estatística t: 0.5680052699443413, Valor p: 0.5700404270698654
Nenhuma diferença estatisticamente significativa com a média da população.

Região: Centro Oeste
Média de preço da região: 162.75334821428572
Estatística t: 0.7672136077596723, Valor p: 0.4429769878037719
Nenhuma diferença estatisticamente significativa com a média da população.

Região: Nordeste
Média de preço da região: 162.32142857142858
Estatística t: -0.5587259631340973, Valor p: 0.576359100936066
Nenhuma diferença estatisticamente significativa com a média da população.

Região: Sudeste
Média de preço da região: 162.08839285714285
Estatística t: -1.7977347052888613, Valor p: 0.07224897707808584
Nenhuma diferença estatisticamente significativa com a média da população.

Região: Sul
Média de preço da região: 162.58928571428572
Estatística t: 0.3390939969493738, Valor p: 0.7345506952885925
Nenhuma diferença estatisticamente significativa com a média da população.

In [ ]:
# Teste de hipóteses para cada modalidade de pagamento
for pagamento in df['formapagto'].unique():
    # Média de preço por modalidade de pagamento
    media_pagamento = df[df['formapagto'] == pagamento]['valor'].mean()

    # Teste t para comparar a média da modalidade de pagamento com a média da população
    t_stat, p_value = ttest_1samp(df[df['formapagto'] == pagamento]['valor'], media_populacao)

    print(f"\nModalidade de Pagamento: {pagamento}")
    print(f"Média de preço da modalidade: {media_pagamento}")
    print(f"Estatística t: {t_stat}, Valor p: {p_value}")

    # Avaliar significância
    if p_value < 0.05:
        print("Diferença estatisticamente significativa com a média da população.")
    else:
        print("Nenhuma diferença estatisticamente significativa com a média da população.")

Modalidade de Pagamento: Pix
Média de preço da modalidade: 162.46616392141297
Estatística t: 0.03370111022232572, Valor p: 0.973116161120881
Nenhuma diferença estatisticamente significativa com a média da população.

Modalidade de Pagamento: Boleto Bancário
Média de preço da modalidade: 162.3456385829116
Estatística t: -0.4280300446853182, Valor p: 0.668638394700394
Nenhuma diferença estatisticamente significativa com a média da população.

Modalidade de Pagamento: Dinheiro
Média de preço da modalidade: 162.09619952494063
Estatística t: -1.7651549213046847, Valor p: 0.07756793779417802
Nenhuma diferença estatisticamente significativa com a média da população.

Modalidade de Pagamento: Cartão Débito
Média de preço da modalidade: 162.98740681039695
Estatística t: 1.4106093643012836, Valor p: 0.15839116951478424
Nenhuma diferença estatisticamente significativa com a média da população.

Modalidade de Pagamento: Cartão Crédito
Média de preço da modalidade: 162.39647577092512
Estatística t: -0.2050270646098181, Valor p: 0.8375550651633699
Nenhuma diferença estatisticamente significativa com a média da população.

In [ ]:
# Listar os produtos que aparecem como outliers nas vendas
produtos_outliers = outliers_valor_bruto['produto'].unique()
print("Produtos que aparecem como outliers nas vendas:")
print(produtos_outliers)

Produtos que aparecem como outliers nas vendas:
['Biscoito  True Champion 300g'
 'Suplemento Alimentar Glutamina Mundo Animal Nutrisana'
 'Escova Pet Rasqueadeira Tira Pelos Cachorro e Gatos'
 'Antipulgas e Carrapatos MSD Bravecto para Pet de 2 a 10 Kg']

In [ ]:
# Listar os produtos, regiões e centros de distribuição que aparecem como outliers nas vendas
outliers_info = outliers_valor_bruto[['produto', 'regiao_pais', 'centro_distribuicao']]

print("Informações sobre os produtos que aparecem como outliers nas vendas:")
print(outliers_info.drop_duplicates())  # Remover duplicatas para uma visão mais clara

Informações sobre os produtos que aparecem como outliers nas vendas:
                                                produto   regiao_pais  \
8                          Biscoito  True Champion 300g  Centro Oeste
838   Suplemento Alimentar Glutamina Mundo Animal Nu...      Nordeste
877   Escova Pet Rasqueadeira Tira Pelos Cachorro e ...         Norte
2613  Antipulgas e Carrapatos MSD Bravecto para Pet ...      Nordeste

     centro_distribuicao
8             Grãos Blue
838           Gold Beach
877           Rapid Pink
2613          Gold Beach

In [ ]:
# Listar as regiões, datas e responsáveis pelos pedidos que aparecem como outliers nas vendas
outliers_info = outliers_valor_bruto[['produto', 'regiao_pais', 'data', 'responsavelpedido']]

# Exibir as informações dos outliers
print("Informações sobre os produtos que aparecem como outliers nas vendas:")
print(outliers_info.drop_duplicates())  # Remover duplicatas para uma visão mais clara

Informações sobre os produtos que aparecem como outliers nas vendas:
                                                produto   regiao_pais  \
8                          Biscoito  True Champion 300g  Centro Oeste
838   Suplemento Alimentar Glutamina Mundo Animal Nu...      Nordeste
877   Escova Pet Rasqueadeira Tira Pelos Cachorro e ...         Norte
2613  Antipulgas e Carrapatos MSD Bravecto para Pet ...      Nordeste

           data responsavelpedido
8    2022-04-03          Andressa
838  2022-09-01             Neide
877  2022-01-01             Julia
2613 2022-05-03             Neide

In [ ]:
# Selecionar apenas colunas numéricas
df_numerico = df.select_dtypes(include=['float64', 'int64'])

In [ ]:
# Calcular a matriz de correlação apenas para colunas numéricas
correlacao = df_numerico.corr()

# Exibir a matriz de correlação
print("Matriz de Correlação:")
print(correlacao)

Matriz de Correlação:
                      valor  quantidade  valor_total_bruto  valor_comissao  \
valor              1.000000   -0.072089           0.394570             NaN
quantidade        -0.072089    1.000000          -0.010580        0.372251
valor_total_bruto  0.394570   -0.010580           1.000000        0.995845
valor_comissao          NaN    0.372251           0.995845        1.000000
lucro_liquido      0.054649    0.553157           0.514751        0.886087

                   lucro_liquido
valor                   0.054649
quantidade              0.553157
valor_total_bruto       0.514751
valor_comissao          0.886087
lucro_liquido           1.000000